h3{
  text-align: center;
}
p{
  margin-left: 2%;
  margin-right: 2%;
}
.home-button {
    border-radius: 100px;
    color: white;
    padding: 1em;
    font-family: 'glindifference';
    letter-spacing: 0.1em;
    text-decoration: none;
    text-align: center;
    background-color: #ff3f61;
    
    width: 10em;
    display: block;
    margin: auto;
  }